:root {
    /* text color */
    --praimary-tex-color: #757575;
    --secondary-text-color: #212121;
    --secondary-bc-color: #F5F4FA;
    --accent-color: #2196F3;
    --action-white-color: #FFFFFF;
    --action-icon-color: #AFB1B8;

    /* font-family */
    --praimary-font-family: 'Roboto', sans-serif;

    /* animation */
    --time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--action-white-color);
    font-family: var(--praimary-font-family);
    color: var(--praimary-tex-color);
    font-size: 14px;
}

/* content */

.content,
.link {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 2px solid teal; */
}


/* Позиціонування */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section:nth-child(3) {
    padding-top: 0;
}

/* header */

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--accent-color);
    text-decoration: none;
}

.logo-part {
    color: #000000
}

.nav-link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

/*  Позиціоновані елементи */

.nav-link::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: '';

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
    opacity: 0;

}

.current.nav-link::after {
    opacity: 1;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.mailto-tel {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;


    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color: var(--praimary-tex-color);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     
}

.mailto-tel:hover,
.mailto-tel:focus {
    color: var(--accent-color);
}

/* sprite */

.icon-envelope,
.icon-smartphone {
    margin-right: 10px;
    fill: currentColor;
}



.nav-link.current {
    color: var(--accent-color);
}

/* flex nav */

.sait-nav {
    display: flex;
    margin-left: 93px;
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.sait-nav .item+.item,
.auth-nav .item+.item {
    margin-left: 50px;
}

.main-flex,
nav {
    display: flex;
    align-items: center;
}

.line {
    border-bottom: 1px solid #ECECEC;
}



/* hero */


.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C4C4C4;

    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.40),
            rgba(2, 2, 61, 0.4)),
        url(../images/img\(16\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}

.hero-titel {
    width: 696px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);

    color: var(--action-white-color);
}


.hero-btn {
    min-width: 200px;
    padding: 10px 20px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    color: var(--action-white-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    /* cursor: pointer; */
}


/* .hero-btn:hover,
.header-btn:focus{
background-color: #FFFFFF;
color: #757575;
} */



/* modal */

.beckdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);

    transition: opacity var(--time-animation),
    visibility var(--time-animation);

    z-index: 4;
}

.beckdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
     
    width: 528px;
    height: 581px;

    padding: 40px;

    border-radius: 4px;
    background: var(--action-white-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    transition: transform var(--time-animation);

}

.beckdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(.9);
     
}

.beckdrop .modal {
    transform: translate(-50%, -50%) scale(1.1);
     
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.10);

    cursor: pointer;

    transition: fill var(--time-animation);

}

.modal-btn:hover,
.modal-btn:focus {
    fill: var(--accent-color);

    transition: fill var(--time-animation);
}



/* modal-form */

.form-titel {
    display: block;

    width: 448px;

    margin-bottom: 12px;

    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;

    color: var(--secondary-text-color);
}

.form-group {
    position: relative;
 
    display: block;
    margin-bottom: 10px;
}


.form-label {
    display: flex;

    justify-content: flex-start;

    margin-bottom: 4px;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;

    color: var(--praimary-tex-color);
}

.form-input {
    width: 100%;
    height: 40px;

    padding: 12px 5px 12px 42px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

    outline: transparent;

    transition: border var(--time-animation);
}

.icon-form {
    position: absolute;

    bottom: 14px;
    left: 12px;

    fill: var(--secondary-text-color);

    transition: fill var(--time-animation);
}

.form-input:hover,
.form-input:focus {
    
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    
}

.form-input:hover+.icon-form,
.form-input:focus+.icon-form{
    fill: var(--accent-color);
}

.form-masseage {
    resize: none;

    width: 448px;
    height: 120px;

    padding: 16px 12px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    margin-bottom: 20px;

    transition: border var(--time-animation);
}

.form-masseage:hover,
.form-masseage:focus {
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    outline: transparent;
}


.form-polise {
    display: flex;
    align-items: baseline;
    justify-content: center;
    
    margin-top: -7px;
    
    margin-bottom: 30px;
}

.custom-checkbox {
    width: 16px;
    height: 15px;

    margin-right: 7px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2px;
    outline: 2px solid var(--secondary-text-color);
    outline-offset: -2px;

    transition: background-color, outline, opacity, var(--time-animation);
}

.form-icon-check {
    opacity: 0;

    transition: opacity, outline, var(--time-animation);
}

.checkbox:checked + .custom-checkbox .form-icon-check {
    opacity: 1;
}

.checkbox:checked + .custom-checkbox {
    background-color: var(--accent-color);
    border-radius: 2px;
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;
}

.checkbox:focus + .custom-checkbox,
.checkbox:hover + .custom-checkbox {
    border-radius: 2px;
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;
}

.form-polise-desc {
    color: var(--praimary-tex-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(24/14);
    letter-spacing: 0.42px;
}

.polise-style {
    color: var(--accent-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(24/14);
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.btn-form {
    width: 200px;
    height: 50px;

    color: var(--action-white-color);

    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(30 / 16);
    letter-spacing: 0.96px;

    border-radius: 4px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;

    transition: background-color, box-shadow, var(--time-animation);

    cursor: pointer;
    
}

.btn-form:hover,
.btn-form:focus {
    border-radius: 4px;
    background-color: #188CE8;
    box-shadow: 0px 4px 4px 0px rgba(55, 1, 1, 0.363);
}



/* visually-hidden */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.slogan {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);

}

.desc {
    margin-top: 0;
    margin-bottom: 0;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}



/* flex visually-hidden */

.feature {
    display: flex;
    flex-wrap: wrap;
}

.feature .item {
    width: 270px;
    margin-right: 30px;
}

.feature .item:nth-child(4n) {
    margin-right: 0;
}

/* sprite */

.color-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;

    background: var(--secondary-bc-color);
}



/* section subtitle*/

.subtitle {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
    text-align: center;
    z-index: 1;
}



/* flex  subtitle*/

.subtitle-list {
    display: flex;
    flex-wrap: wrap;
}

.subtitle-list .item {

    width: 370px;
    margin-right: 30px;
}

.subtitle-list .item:nth-child(3n) {
    margin-right: 0;
}

/* Позиційовані елементи */

.label-box {
    position: relative;
    display: block;

}


.label-box::before {
    position: absolute;

    bottom: 0;
    right: 0;

    content: '';
    display: block;

    width: 370px;
    height: 70px;

    background: rgba(47, 48, 58, 0.80);

}



.label-1 {
    position: absolute;

    bottom: 0;
    right: 0;

    margin: 0;

    transform: translate(-107px, -27px);


    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--action-white-color);
}

.label-2 {
    position: absolute;

    bottom: 0;
    right: 0;

    margin: 0;

    transform: translate(-113px, -27px);


    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--action-white-color);
}

.label-3 {
    position: absolute;

    bottom: 0;
    right: 0;

    margin: 0;

    transform: translate(-95px, -27px);


    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--action-white-color);
}


/* section-subtitle section */

.section-subtitle {
    background-color: var(--secondary-bc-color);
}

.subtitle-titel {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
    text-align: center;
}

.subtitle-img {
    display: flex;
    flex-direction: column;

    background-color: var(--action-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.author-preview {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 32px;
    padding-left: 32px;
    /* outline: 2px solid teal; */
}

.author {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.preview {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
}



/* flex section-subtitle */

.titel-list {
    display: flex;
    flex-wrap: wrap;
}

.titel-list .item {
    width: 270px;
    margin-right: 30px;
}

.titel-list .item:nth-child(4n) {
    margin-right: 0;
}

/* sprite */


.social {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    background-color: var(--action-white-color);
    fill: var(--action-icon-color);

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.social:hover,
.social:focus {
    fill: var(--action-white-color);
    background-color: var(--accent-color);
}

.social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}


/* section clients */

.icon-clients {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--action-icon-color);

    background-color: var(--action-white-color);
    fill: var(--action-icon-color);

    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    

}

.icon-clients:hover,
.icon-clients:focus {

    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

.clients {
    display: flex;
    justify-content: space-between;
}

/* filter */


.filter-btn {
    display: block;
    font-weight: 500;
    font-size: 16px;

    padding: 6px 20px;

    line-height: calc(26 / 16);
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
    background: var(--secondary-bc-color);

    border-radius: 4px;
    cursor: pointer;
    border: none;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--action-white-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project {
    position: relative;
    text-decoration: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.project:hover,
.project:focus {
    position: absolute;
    border: 1px solid #EEE;
    background-color: var(--action-white-color);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project-hidden {
    position: relative;
    overflow: hidden;
}

.project-overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.90);
    transform: translateY(100%);
    transition: transform var(--time-animation);


}

.project:focus .project-overlay,
.project:hover .project-overlay {
    transform: translateY(0);
    transition: transform var(--time-animation);

}

.project-description {
    margin-top: 63px;
    margin-bottom: 63px;
    margin-left: 24px;
    margin-right: 24px;

    width: 322px;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(28 / 16);
    letter-spacing: 0.54px;
    color: var(--action-white-color);
}


.benefits {
    margin-top: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

    color: var(--secondary-text-color);
}

.meta {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;

    color: var(--praimary-tex-color);
}

.meta-img {
    background: var(--action-white-color);
}

/* flex filter  */

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list .item+.item {
    margin-left: 8px;

}

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}


.meta-img {
    display: flex;
    width: 370px;
    margin: 15px;
}


.div {
    justify-content: flex-start;

    padding: 24px 20px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    /* outline: 2px solid teal; */
}

/* footer */

.footer-container {
    display: flex;
    align-items: baseline;

}

.container-address {
    width: 231px;
}

.logo-link {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 19px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    height: 251px;
}


.address {
    font-style: normal;
}

.logo-footer {
    color: var(--action-white-color);
}

.map-link {

    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--action-white-color);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.map-link:hover,
.map-link:focus {
    color: var(--accent-color)
}

.footer-link {
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color)
}

.conact {
    margin-bottom: 8px;
}

/* come-back */

.come-back-item {
    width: 206px;
    height: 80px;

    margin-left: 70px;

    align-content: flex-start;
}

.come-back {
    color: var(--action-white-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.come-back-social {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.10);
    fill: var(--action-white-color);

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.come-back-social:hover,
.come-back-social:focus {
    fill: var(--action-white-color);
    background-color: var(--accent-color);
}

.come-social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

/* form-email */

.come-back-email {
    width: 570px;
    height: 86px;

    margin-left: 93px;
}

.form-email {
    display: flex;

    margin-top: 20px;
}

.input-email-form {
    width: 358px;
    height: 50px;

    padding: 16px 15px;

    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}



.label-email-btn {
    position: relative;

    display: flex;

    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;

    margin-left: 12px;

    color: var(--action-white-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(30/16);
    letter-spacing: 0.96px;

    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
}

.span-label-email {
    position: absolute;

    left: 28px;

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(30/16);
    letter-spacing: 0.96px;
}

.icon-icon-send {
    position: absolute;

    top: 0;
    right: 28px;

    transform: translateY(50%);
}