:root {
    /* text color */
    --praimary-tex-color: #757575;
    --secondary-text-color: #212121;
    --secondary-bc-color: #F5F4FA;
    --accent-color: #2196F3;
    --action-white-color: #FFFFFF;
    --action-icon-color: #AFB1B8;

    /* font-family */
    --praimary-font-family: 'Roboto', sans-serif;

    /* animation */
    --time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}