/* PORTFOLIO */

/* filter */

/* flex filter  */

.filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item:not(:first-child) {
    margin-left: 8px;
}

.filter__btn {
    display: block;
    font-weight: 500;
    font-size: 16px;

    padding: 6px 20px;

    line-height: calc(26 / 16);
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
    background: var(--secondary-bc-color);

    border-radius: 4px;
    cursor: pointer;
    border: none;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
            color: var(--action-white-color);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        }

}

