/* modal-form */

.form-titel {
    @include mq (mobile-only) {
        display: block;

        width: 370px;

        margin-left: auto;
        margin-right: auto;

        margin-bottom: 12px;

        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.6px;

        color: var(--secondary-text-color);
    }

    @include mq (tablet) {
        display: block;

        width: 370px;

        margin-left: auto;
        margin-right: auto;

        margin-bottom: 12px;

        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.6px;

        color: var(--secondary-text-color);
    }

    @include mq (desktop) {
        display: block;
        width: 448px;

        margin-bottom: 12px;

        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;

        color: var(--secondary-text-color);
    }
}

.form-group__item {
    position: relative;

    display: block;
    margin-bottom: 10px;

    &:nth-child(4n) {
            margin-bottom: 0;
        }
}


.form-group__label {
    display: flex;

    justify-content: flex-start;

    margin-bottom: 4px;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;

    color: var(--praimary-tex-color);
}

.form-group__input {
    width: 100%;
    height: 40px;

    padding: 12px 5px 12px 42px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

    outline: transparent;

    transition: border var(--time-animation);

    &:hover,
    &:focus {
    
            border-radius: 4px;
            border: 1px solid var(--accent-color);
    
        }
}

.form-group__icon {
    position: absolute;

    bottom: 14px;
    left: 12px;

    fill: var(--secondary-text-color);

    transition: fill var(--time-animation);

    .form-group__input:hover+&,
    .form-group__input:focus+& {
            fill: var(--accent-color);
        }
}


.form-group__masseage {
    resize: none;

    width: 100%;
    height: 120px;

    padding: 16px 12px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    margin-bottom: 20px;

    transition: border var(--time-animation);

    &:hover,
    &:focus {
            border-radius: 4px;
            border: 1px solid var(--accent-color);
            outline: transparent;
        }
}

.form-polise__item {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        min-width: 480px;

        margin-top: -5px;

        margin-bottom: 30px;

    @include mq (mobile) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        

        margin-top: -5px;

        margin-bottom: 30px;
    }

    @include mq (desktop) {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: -5px;

        margin-bottom: 30px;
    }
}

.form-polise__custom {
    width: 16px;
    height: 15px;

    margin-right: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2px;
    outline: 2px solid var(--secondary-text-color);
    outline-offset: -2px;

    transition: background-color, outline, opacity, var(--time-animation);
}

.form-polise__icon {
    opacity: 0;

    transition: opacity, outline, var(--time-animation);
}

.form-polise__checkbox:checked+.form-polise__custom .form-polise__icon {
    opacity: 1;
}

.form-polise__checkbox:checked+.form-polise__custom {
    background-color: var(--accent-color);
    border-radius: 2px;
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;
}

.form-polise__checkbox:focus+.form-polise__custom,
.form-polise__checkbox:hover+.form-polise__custom {
    border-radius: 2px;
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;
}

.form-polise__desc {
        color: var(--praimary-tex-color);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
        text-align: center;

    @include mq (mobile) {
        color: var(--praimary-tex-color);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
    }

    @include mq (desktop) {
        color: var(--praimary-tex-color);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(24/14);
        letter-spacing: 0.42px;
    }
}

.form-polise__style {
        color: var(--accent-color);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
        text-decoration-line: underline;
        text-align: center;
        min-width: 480px;


    @include mq (mobile) {
        color: var(--accent-color);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
        text-decoration-line: underline;
    }

    @include mq (desktop) {
        color: var(--accent-color);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(24/14);
        letter-spacing: 0.42px;
        text-decoration-line: underline;
    }
}

.form-polise__btn {
    @include btn;

    transition: background-color, box-shadow, var(--time-animation);

    cursor: pointer;

    &:hover,
    &:focus {
            border-radius: 4px;
            background-color: #188CE8;
            box-shadow: 0px 4px 4px 0px rgba(55, 1, 1, 0.363);
        }
}

