/* footer */

.footer {
    @include mq (mobile-only) {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #2F303A;
        height: 604px;
    }

    @include mq (tablet-only) {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #2F303A;
        height: 464px;
    }

    @include mq (desktop) {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #2F303A;
        height: 251px;
    }
}

.footer-container {
    @include mq (mobile-only) {
        display: block;  
    }
    
    @include mq (desktop) {
        display: flex;
        align-items: baseline;
    }
}

.container-footer {
    @include mq (tablet-only) {
        display: flex;
        justify-content: center;
    }

    @include mq (desktop) {
        display: flex;
        align-items: baseline;
    }
}

.container-address {
    @include mq (mobile-only) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 232px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    @include mq (tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 232px;
    }

    @include mq (desktop) {
        width: 231px;
    }
}

.logo__link {
    @include mq (mobile) {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 28px;
    }

}

.logo--white {
    color: var(--action-white-color);
}

.address {
    font-style: normal;
}

.address__list {
    @include mq (mobile-only) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include mq (tablet-only) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    @include mq (desktop) {
        display: flex;
        flex-wrap: wrap;  
    }
}

// .address__conact {
//     @include mq (mobile-only) {
//         display: block;
//         margin-bottom: 12px;
//         padding: 0;
//     }

//     @include mq (tablet) {
//         display: block;
//         margin-bottom: 12px;
//         padding: 0;
//     }
// }

.address__link {

    line-height: calc(24/14);
    letter-spacing: 0.03em;

    text-decoration: none;

    &--map {
            color: var(--action-white-color);
    
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                color: var(--accent-color)
            }
        }

}

.address__link--contact {
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--accent-color)
        }
}

/* come-back */

.come-back__item {
    @include mq (mobile-only) {
        width: 206px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    @include mq (tablet) {
        width: 206px;
        margin-left: 165px;
    }

    @include mq (desktop) {
        width: 206px;
        height: 80px;

        margin-left: 70px;

        align-content: flex-start;
    }
}

.come-back__text {
    @include mq (mobile-only) {
        display: block;
        margin-bottom: 20px;

        text-align: center;
        color: var(--action-white-color);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: calc(16 / 14);
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    @include mq (tablet) {
        display: block;
        margin-bottom: 20px;

        text-align: center;
        color: var(--action-white-color);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: calc(16 / 14);
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    @include mq (desktop) {
        display: block;
        margin-bottom: 20px;
        color: var(--action-white-color);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: calc(16 / 14);
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }
}

.come-social__list {
    display: flex;
    justify-content: space-between;
}

.come-back__social {
    @include social;

    background-color: rgba(255, 255, 255, 0.10);
    fill: var(--action-white-color);
}


/* form-email */

.come-back__email {
    @include mq (mobile-only) {
        width: 450px;
        height: 86px;
    }

    @include mq (tablet-only) {
        width: 450px;
        height: 156px;
        padding-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    @include mq (desktop) {
        width: 570px;
        height: 86px;

        margin-left: 93px;
    }
}

.come-back__form-email {
    @include mq (mobile-only) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include mq (tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include mq (desktop) {
        display: flex;

        margin-top: 20px;
    }
}

.form-email__input {
    @include mq (mobile-only) {
        width: 450px;
        height: 50px;

        margin-bottom: 20px;

        padding: 16px 15px;

        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.48px;

        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    @include mq (tablet) {
        width: 450px;
        height: 50px;

        margin-bottom: 20px;

        padding: 16px 15px;

        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.48px;

        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    @include mq (desktop) {
        width: 358px;
        height: 50px;

        padding: 16px 15px;

        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.48px;

        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
}

.form-email__btn {
    @include mq (mobile-only) {
        position: relative;

        display: flex;

        align-items: center;
        justify-content: center;

        @include btn;
    }

    @include mq (tablet) {
        position: relative;

        display: flex;

        align-items: center;
        justify-content: center;

        @include btn;
    }

    @include mq (desktop) {
        position: relative;

        display: flex;

        align-items: center;
        justify-content: center;

        margin-left: 12px;

        @include btn;
    }
}

.form-email__span {
    position: absolute;

    left: 28px;

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(30/16);
    letter-spacing: 0.96px;
}

.form-email__icon-send {
    position: absolute;

    top: 0;
    right: 28px;

    transform: translateY(50%);
}