/* hero */
.hero {
    @include mq (mobile-only) {
    display: block;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 198px;
    background-color: #C4C4C4;

    width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.40),
            rgba(2, 2, 61, 0.4)),
        url(../images/header-mob-img.jpg);

        @include mq (retina) {
            background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.40),
                rgba(2, 2, 61, 0.4)),
            url(../images/header-mob-img@2x.jpg);
        }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

    @include mq (tablet-only) {
        display: block;
        text-align: center;
        padding-top: 118px;
        padding-bottom: 198px;
        background-color: #C4C4C4;

        width: 768px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.40),
                rgba(2, 2, 61, 0.4)),
            url(../images/header-tab-img.jpg);

            @include mq (retina) {
            background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.40),
                rgba(2, 2, 61, 0.4)),
            url(../images/header-tab-img@2x.jpg);
        }
    }

    @include mq (desktop) {
        display: block;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 280px;
        background-color: #C4C4C4;

        width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.40),
                rgba(2, 2, 61, 0.4)),
            url(../images/header-desk.jpg);

            @include mq (retina) {
            background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.40),
                rgba(2, 2, 61, 0.4)),
            url(../images/header-desk@2x.jpg);
        }
    }
}

.hero-titel {
    @include mq (mobile-only) {
        width: 360px;

        margin-left: auto;
        margin-right: auto;

        margin-top: 0;
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 1.56px;
        text-transform: uppercase;

        color: var(--action-white-color);
    }

        @include mq (tablet) {
        width: 360px;

        margin-left: auto;
        margin-right: auto;

        margin-top: 0;
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 1.56px;
        text-transform: uppercase;

        color: var(--action-white-color);
    }

    @include mq (desktop) {
    
        width: 696px;

        margin-left: auto;
        margin-right: auto;

        margin-top: 0;
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 44px;
        line-height: calc(60 / 44);
        letter-spacing: 2.64px;
        text-transform: uppercase;

        color: var(--action-white-color);
    }
}


.hero-btn {
    min-width: 200px;
    padding: 10px 20px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    color: var(--action-white-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}


